<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/>
<meta name="author" content="Arcsin, http://shablonfree.ru/"/>
<link rel="stylesheet" type="text/css" href="../static/css/default.css"/>
<title>Курсова робота</title>
</head>
<body>
<div class="main">
	<div class="container"><div class="inner_copy"><div class="inner_copy">Курсова робота</div></div>
		<div class="gfx"><a href="#"><span></span></a></div>
		<div class="menu">
			<a href="/"><span>Тема курсової роботи</span></a>
			<a href="solution"><span> Розв'язання задачі</span></a>
			<a href="generation"><span>Дослідження</span></a>
			<a href="about"><span>Контактна інформація</span></a>
			<a href="task" id="last"><span>Завдання</span></a>
		</div>
		<div class="content">
			<div class="item">
				<h1 class ="center" >Контактна інвормація</h1>

                <P>КПІ ім. Ігоря Сікорського, ФІОТ</P>
                <p> вул. Політехнічна 41, корпус 18, Київ, 03056</p>
                <h1>Виконали:</h1>
                    <p>Кочубей Ілля </p>
                 <p>Дорошенко Антон </p>


				</div>
		</div>
		<div class="footer">


		</div>
	</div>
</div>
</body>
</html>
